networks:
  app:
    name: "kafka"

volumes:
  postgres:
    name: "kafka-postgres"

services:
  postgres:
    image: "postgres:18"
    restart: "always"
    hostname: "postgres-srv"
    env_file:
      - "./postgres.env"
    ports:
      - "5432:5432"
    volumes:
      - "./entrypoint/:/docker-entrypoint-initdb.d/"
      - "postgres:/var/lib/postgresql/18/data"
    networks:
      - "app"

  adminer:
    image: "adminer:5.4.1"
    restart: "always"
    hostname: "adminer-srv"
    environment:
      TZ: "America/Sao_Paulo"
      ADMINER_DEFAULT_SERVER: "postgres-srv"
    ports:
      - "8000:8080"
    networks:
      - "app"